@{
    Layout = "_layout.cshtml";
}

<h2>Test runner: click link below to run a test</h2>
<ul class="test-links">
    <li><a href="pager.cshtml">Pager</a></li>
    <li><a href="avatar.cshtml">Avatar</a></li>
    <li><a href="packaging.cshtml">Packaging</a></li>
    <li><a href="urlrewrite.cshtml">URL Rewrite (.aspx)</a></li>
    <li><a href="urlrewrite.cshtml?ext=off">URL Rewrite - no extensions</a></li>
</ul>